<!doctype html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link rel="stylesheet" href="../dist/css/main.css">
  <link rel="stylesheet" href="../dist/css/i2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>index</title>

</head>

<style>

</style>

<body class=" ">

  <div cell-pa=[-pa10:-cn] class="page-sec">

    <header cell-bg=[-c2]>
      <div cell-Q=[-cw] class="">
        <div cell-nv=[-nv1:-st-fx-h100] class="">
          <div cell-nv=[-na] class="">
            <div cell-nv=[-lg] cell-bg=[-c2] cell-h=[-h100] class="">
              <p cell-f=[-s35-c5-w9]><img src="../dist/Img/logo-blue.png"></p>
              <button cell-d=[-dn-ln-tb-mb-sb] class=" "><i class="fa fa-bars"></i></button>
            </div>
            <div cell-nv=[-li] cell-bg=[-c2] cell-h=[-ha] class="">
              <p cell-p=[-l7]><a href="#" cell-f=[-f1-s15-w5-c5-dn]>link-1</a></p>
              <p cell-p=[-l7]><a href="#" cell-f=[-f1-s15-w5-c5-dn]>link-2</a></p>
              <p cell-p=[-l7]><a href="#" cell-f=[-f1-s15-w5-c5-dn]>link-3</a></p>
              <p cell-p=[-l7]><a href="#" cell-f=[-f1-s15-w5-c5-dn]>link-4</a></p>
              <div cell-dw=[-dw0:-cn-a2] class=" ">
                <div cell-dw=[-da] class="">
                  <div cell-f=[-f1-s15-w5-c5] cell-dw=[-l] cell-w=[-wa] cell-p=[-p2] class="">
                    <p cell-p=[-l7]><a href="#" cell-f=[-f1-s15-w5-c5-dn]>link-5</a></p>
                  </div>
                  <div cell-dw=[-c] cell-bg=[-c1] cell-p=[-p7] class="">
                    Content
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div cell-c=[-c20] cell-p=[-t100] class="cell-m">
      <div cell-sl=[-aa1:-da5(0)-la7(0)-ta9(0)-ma11(0)-sa20(0)-df5(5)-lf5(5)-tf5(5)-mf5(5)-sf5(5)] class="as-slide">
        <div cell-Q=[-q-sa] cell-p=[-p2] class="">
          <button cell-f=[-s15-c4-w9-f1] class="btn as-left-open">Menu</button>
          <button cell-f=[-s15-c4-w9-f1] class="btn as-right-open">List</button>
        </div>
        <div cell-Q=[-q] class="">
          <div cell-sl=[-lo] cell-bg=[-c4] class=" ">
            <div cell-t=[-r] class="">
              <button class="btn as-left-close">X</button>
            </div>
            <div class="menu">
              <div cell-pa=[-ec10(1)] class="list">
                <p><a href="#">CDN links</a></p>
              </div>
              <div cell-pa=[-ec10(2)] class="list">
                <p><a href="#">cell-c</a></p>
              </div>
              <div cell-pa=[-ec10(3)] class="list">
                <p><a href="#">cell-Q</a></p>
              </div>
              <div cell-pa=[-ec10(4)] class="list">
                <p><a href="#">cell-Q Column Positions</a></p>
              </div>
              <div cell-pa=[-ec10(5)] class="list">
                <p><a href="#">cell-w</a></p>
              </div>
              <div cell-pa=[-ec10(6)] class="list">
                <p><a href="#">cell-w Width Positions</a></p>
              </div>
              <div cell-pa=[-ec10(7)] class="list">
                <p><a href="#">cell-h</a></p>
              </div>
              <div cell-pa=[-ec10(8)] class="list">
                <p><a href="#">cell-p</a></p>
              </div>
              <div cell-pa=[-ec10(9)] class="list">
                <p><a href="#">cell-m</a></p>
              </div>
              <div cell-pa=[-ec10(10)] class="list">
                <p><a href="#">cell-d</a></p>
              </div>
              <div cell-pa=[-ec10(11)] class="list">
                <p><a href="#">cell-G</a></p>
              </div>
              <div cell-pa=[-ec10(12)] class="list">
                <p><a href="#">cell-t</a></p>
              </div>
              <div cell-pa=[-ec10(13)] class="list">
                <p><a href="#">cell-ts</a></p>
              </div>
              <div cell-pa=[-ec10(14)] class="list">
                <p><a href="#">cell-bs</a></p>
              </div>
              <div cell-pa=[-ec10(15)] class="list">
                <p><a href="#">cell-f</a></p>
              </div>
              <div cell-pa=[-ec10(16)] class="list">
                <p><a href="#">cell-b</a></p>
              </div>
              <div cell-pa=[-ec10(17)] class="list">
                <p><a href="#">cell-r</a></p>
              </div>
              <div cell-pa=[-ec10(18)] class="list">
                <p><a href="#">cell-bg</a></p>
              </div>
              <div cell-pa=[-ec10(19)] class="list">
                <p><a href="#">cell-o</a></p>
              </div>
              <div cell-pa=[-ec10(20)] class="list">
                <p><a href="#">cell-ta</a></p>
              </div>
              <div cell-pa=[-ec10(21)] class="list">
                <p><a href="#">cell-dw</a></p>
              </div>
              <div cell-pa=[-ec10(22)] class="list">
                <p><a href="#">cell-a</a></p>
              </div>
              <div cell-pa=[-ec10(23)] class="list">
                <p><a href="#">cell-sl(ns)</a></p>
              </div>
              <div cell-pa=[-ec10(24)] class="list">
                <p><a href="#">cell-sl(as)</a></p>
              </div>
              <div cell-pa=[-ec10(25)] class="list">
                <p><a href="#">cell-sl(rs)</a></p>
              </div>
              <div cell-pa=[-ec10(26)] class="list">
                <p><a href="#">cell-sl(nest)</a></p>
              </div>
              <div cell-pa=[-ec10(27)] class="list">
                <p><a href="#">cell-tb</a></p>
              </div>
              <div cell-pa=[-ec10(28)] class="list">
                <p><a href="#">cell-sm</a></p>
              </div>
              <div cell-pa=[-ec10(29)] class="list">
                <p><a href="#">cell-ap</a></p>
              </div>
              <div cell-pa=[-ec10(30)] class="list">
                <p><a href="#">cell-pa</a></p>
              </div>
              <div cell-pa=[-ec10(31)] class="list">
                <p><a href="#">cell-po</a></p>
              </div>
              <div cell-pa=[-ec10(32)] class="list">
                <p><a href="#">cell-in(Input)</a></p>
              </div>
              <div cell-pa=[-ec10(33)] class="list">
                <p><a href="#">cell-in(Icon Input)</a></p>
              </div>
              <div cell-pa=[-ec10(34)] class="list">
                <p><a href="#">cell-in(Select Box)</a></p>
              </div>
              <div cell-pa=[-ec10(35)] class="list">
                <p><a href="#">cell-in(Icon Select Box)</a></p>
              </div>
              <div cell-pa=[-ec10(36)] class="list">
                <p><a href="#">cell-in(Text Area)</a></p>
              </div>
              <div cell-pa=[-ec10(37)] class="list">
                <p><a href="#">cell-in(Check Box)</a></p>
              </div>
              <div cell-pa=[-ec10(38)] class="list">
                <p><a href="#">cell-in(Radio)</a></p>
              </div>
              <div cell-pa=[-ec10(39)] class="list">
                <p><a href="#">cell-mo</a></p>
              </div>
              <div cell-pa=[-ec10(40)] class="list">
                <p><a href="#">cell-fl</a></p>
              </div>
              <div cell-pa=[-ec10(41)] class="list">
                <p><a href="#">cell-gr</a></p>
              </div>
              <div cell-pa=[-ec10(42)] class="list">
                <p><a href="#">cell-pc</a></p>
              </div>
              <div cell-pa=[-ec10(43)] class="list">
                <p><a href="#">cell-an</a></p>
              </div>
              <div cell-pa=[-ec10(44)] class="list">
                <p><a href="#">cell-ss</a></p>
              </div>
              <div cell-pa=[-ec10(45)] class="list">
                <p><a href="#">cell-wz</a></p>
              </div>
              <div cell-pa=[-ec10(46)] class="list">
                <p><a href="#">cell-bu</a></p>
              </div>
              <div cell-pa=[-ec10(47)] class="list">
                <p><a href="#">cell-tg</a></p>
              </div>
              <div cell-pa=[-ec10(48)] class="list">
                <p><a href="#">cell-pi</a></p>
              </div>
              <div cell-pa=[-ec10(49)] class="list">
                <p><a href="#">cell-pb</a></p>
              </div>
              <div cell-pa=[-ec10(50)] class="list">
                <p><a href="#">cell-rm</a></p>
              </div>
              <div cell-pa=[-ec10(51)] class="list">
                <p><a href="#">cell-cm</a></p>
              </div>
              <div cell-pa=[-ec10(52)] class="list">
                <p><a href="#">cell-nv</a></p>
              </div>
            </div>
          </div>
          <div cell-sl=[-m] cell-c=[-c20] class=" ">
            <div cell-bg=[-c2] cell-c=[-c20] cell-p=[-p25] class="">
                  <div cell-pa=[-ea10(1)] cell-pc=[-pc1(1):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(2)] cell-pc=[-pc1(2):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(3)] cell-pc=[-pc1(3):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(4)] cell-pc=[-pc1(4):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(5)] cell-pc=[-pc1(5):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(6)] cell-pc=[-pc1(6):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(7)] cell-pc=[-pc1(7):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(8)] cell-pc=[-pc1(8):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(9)] cell-pc=[-pc1(9):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(10)] cell-pc=[-pc1(10):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(11)] cell-pc=[-pc1(11):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(12)] cell-pc=[-pc1(12):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(13)] cell-pc=[-pc1(13):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(14)] cell-pc=[-pc1(14):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(15)] cell-pc=[-pc1(15):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(16)] cell-pc=[-pc1(16):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(17)] cell-pc=[-pc1(17):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(18)] cell-pc=[-pc1(18):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(19)] cell-pc=[-pc1(19):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(20)] cell-pc=[-pc1(20):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(21)] cell-pc=[-pc1(21):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(22)] cell-pc=[-pc1(22):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(23)] cell-pc=[-pc1(23):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(24)] cell-pc=[-pc1(24):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(25)] cell-pc=[-pc1(25):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(26)] cell-pc=[-pc1(26):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(27)] cell-pc=[-pc1(27):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(28)] cell-pc=[-pc1(28):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(29)] cell-pc=[-pc1(29):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(30)] cell-pc=[-pc1(30):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(31)] cell-pc=[-pc1(31):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(32)] cell-pc=[-pc1(32):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(33)] cell-pc=[-pc1(33):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(34)] cell-pc=[-pc1(34):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(35)] cell-pc=[-pc1(35):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(36)] cell-pc=[-pc1(36):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(37)] cell-pc=[-pc1(37):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(38)] cell-pc=[-pc1(38):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(39)] cell-pc=[-pc1(39):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(40)] cell-pc=[-pc1(40):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(41)] cell-pc=[-pc1(41):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(42)] cell-pc=[-pc1(42):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(43)] cell-pc=[-pc1(43):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(44)] cell-pc=[-pc1(44):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(45)] cell-pc=[-pc1(45):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(46)] cell-pc=[-pc1(46):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(47)] cell-pc=[-pc1(47):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(48)] cell-pc=[-pc1(48):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(49)] cell-pc=[-pc1(49):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(50)] cell-pc=[-pc1(50):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(51)] cell-pc=[-pc1(51):-re] cell-c=[-c20] class="content-sec">

                  </div>
                  <div cell-pa=[-ea10(52)] cell-pc=[-pc1(52):-re] cell-c=[-c20] class="content-sec">

                  </div>
            </div>
          </div>
          <div cell-sl=[-ro] cell-bg=[-c1] class=" ">
            <div cell-t=[-l] class="">
              <button class="btn as-right-close">X</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<!-- jQuery first,then i2.js-->

<!-- jQuery -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<!-- i2.js-->

<script>
 
  //For Colurs c1,c2,c3,c4,c5.........

  var colors = ['#ff4136', '#0074d9', '#ffdc00', '#ff851b', '#b2ebeb'];

  //For Ajax Layout

  var pcPage = ["../content/cdnLinks.html", "../content/cell-c.html", "../content/cell-Q.html", "../content/columnPositions.html", "../content/cell-w.html",
    "../content/widthPositions.html", "../content/cell-h.html", "../content/cell-p.html", "../content/cell-m.html", "../content/cell-d.html",
    "../content/cell-G.html", "../content/cell-t.html", "../content/cell-ts.html", "../content/cell-bs.html", "../content/cell-f.html",
    "../content/cell-b.html", "../content/cell-r.html", "../content/cell-bg.html", "../content/cell-o.html", "../content/cell-ta.html",
    "../content/cell-dw.html", "../content/cell-a.html", "../content/cell-sl(ns).html", "../content/cell-sl(as).html", "../content/cell-sl(rs).html",
    "../content/cell-sl(nest).html", "../content/cell-tb.html", "../content/cell-sm.html", "../content/cell-ap.html", "../content/cell-pa.html",
    "../content/cell-po.html", "../content/input.html", "../content/iconInput.html", "../content/select.html", "../content/iconSelect.html",
    "../content/textArea.html", "../content/checkBox.html", "../content/radio.html", "../content/cell-mo.html", "../content/cell-fl.html",
    "../content/cell-gr.html", "../content/cell-pc.html", "../content/cell-an.html", "../content/cell-ss.html", "../content/cell-wz.html",
    "../content/cell-bu.html", "../content/cell-tg.html", "../content/cell-pi.html", "../content/cell-pb.html", "../content/cell-rm.html",
    "../content/cell-cm.html", "../content/cell-nv.html"]

</script>

<script src="../dist/js(Ajax)/index.js"></script>
<script src="../dist/js(Ajax)/input.js"></script>
<script src="../dist/js(Ajax)/cell.js"></script>
<script src="../dist/js(Ajax)/slide.js"></script>
<script src="../dist/js(Ajax)/tabs.js"></script>
<script>

  $(".list").click(function () {
      jQuery(function () {
          jQuery('.as-left-close').click();
      });
  })
  $(document).on('click', '.title-col', function() {
      jQuery(function () {
          jQuery('.as-left-close').trigger('click');
      });
  });
  jQuery(function () {
      jQuery('.as-left-close').click();
  });
</script>
</html>