<!doctype html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link rel="stylesheet" href="../dist/css/main.css">
  <link rel="stylesheet" href="../dist/css/i2.css">
  <link rel="stylesheet" href="http://i2frontend.orgfree.com/i2/CDN/css/i2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>index</title>

</head>

<style>

</style>

<body class=" ">

  <div cell-pa=[-pa0:-cn] class="page-sec">

    <header cell-bg=[-c2]>
      <div cell-Q=[-cw] class="">
        <div cell-nv=[-nv1:-st-fx-h100] class="">
          <div cell-nv=[-na] class="">
            <div cell-nv=[-lg] cell-bg=[-c2] cell-h=[-h100] class="">
              <p cell-f=[-s35-c5-w9]><img src="http://version9.orgfree.com/version9/Documentation/Img/logo-blue.png">
              </p>
              <button cell-d=[-dn-ln-tb-mb-sb] class=" "><i class="fa fa-bars"></i></button>
            </div>
            <div cell-nv=[-li] cell-bg=[-c2] cell-h=[-ha] class="">
              <p cell-p=[-l7]><a href="#" cell-f=[-f1-s15-w5-c5-dn]>link-1</a></p>
              <p cell-p=[-l7]><a href="#" cell-f=[-f1-s15-w5-c5-dn]>link-2</a></p>
              <p cell-p=[-l7]><a href="#" cell-f=[-f1-s15-w5-c5-dn]>link-3</a></p>
              <p cell-p=[-l7]><a href="#" cell-f=[-f1-s15-w5-c5-dn]>link-4</a></p>
              <div cell-dw=[-dw99:-cn-a2] class=" ">
                <div cell-dw=[-da] class="">
                  <div cell-f=[-f1-s15-w5-c5] cell-dw=[-l] cell-w=[-wa] cell-p=[-p2] class="">
                    <p cell-p=[-l7]><a href="#" cell-f=[-f1-s15-w5-c5-dn]>link-5</a></p>
                  </div>
                  <div cell-dw=[-c] cell-bg=[-c1] cell-p=[-p7] class="">
                    Content
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div cell-c=[-c20] cell-p=[-t100] class="cell-c">
      <div cell-sl=[-aa1:-da5(0)-la7(0)-ta9(0)-ma11(0)-sa20(0)-df5(5)-lf5(5)-tf5(5)-mf5(5)-sf5(5)] class="as-slide">
        <div cell-Q=[-q-sa] cell-p=[-p2] class="">
          <button cell-f=[-s15-c4-w9-f1] class="btn as-left-open">Menu</button>
          <button cell-f=[-s15-c4-w9-f1] class="btn as-right-open">List</button>
        </div>
        <div cell-Q=[-q] class="">
          <div cell-sl=[-lo] cell-bg=[-c4] class=" ">
            <div cell-t=[-r] class="">
              <button class="btn as-left-close" id="close">X</button>
            </div>
            <div class="menu">
              <div cell-pa=[-ec0(1)] class="list">
                <p>Page-1</p>
              </div>
              <div cell-pa=[-ec0(2)] class="list">
                <p>Page-2</p>
              </div>
              <div cell-pa=[-ec0(3)] class="list">
                <p>Page-3</p>
              </div>
              <div cell-pa=[-ec0(4)] class="list">
                <p>Page-4</p>
              </div>
              <div cell-pa=[-ec0(5)] class="list">
                <p>Page-5</p>
              </div>
            </div>
          </div>
          <div cell-sl=[-m] cell-bg=[-c2] cell-c=[-c20] cell-p=[-p25] class="column">
            <div cell-pa=[-ea0(1)] cell-pc=[-pc1(1):-re] cell-c=[-c20] class="content-sec">

            </div>
            <div cell-pa=[-ea0(2)] cell-pc=[-pc1(2):-re] cell-c=[-c20] class="content-sec">

            </div>
            <div cell-pa=[-ea0(3)] cell-pc=[-pc1(3):-re] cell-c=[-c20] class="content-sec">

            </div>
            <div cell-pa=[-ea0(4)] cell-pc=[-pc1(4):-re] cell-c=[-c20] class="content-sec">

            </div>
            <div cell-pa=[-ea0(5)] cell-pc=[-pc1(5):-re] cell-c=[-c20] class="content-sec">

            </div>
          </div>
          <div cell-sl=[-ro] cell-bg=[-c1] class="column">
            <div cell-t=[-l] class="">
              <button class="btn as-right-close">X</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

<!-- jQuery first,then i2.js-->

<!-- jQuery -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<!-- i2.js-->

<script>
  ` `
  //For Colurs c1,c2,c3,c4,c5.........

  var colors = ['#ff4136', '#0074d9', '#ffdc00', '#ff851b', '#b2ebeb'];

  //For Ajax Layout

  var pcPage = ["../content/page-1.html", "../content/page-2.html", "../content/page-3.html", "../content/page-4.html", "../content/page-5.html"]

</script>

<script src="http://i2frontend.orgfree.com/i2/CDN/jq(Ajax)/index.js"></script>
<script src="http://i2frontend.orgfree.com/i2/CDN/jq(Ajax)/input.js"></script>
<script src="http://i2frontend.orgfree.com/i2/CDN/jq(Ajax)/cell.js"></script>
<script src="http://i2frontend.orgfree.com/i2/CDN/jq(Ajax)/slide.js"></script>
<script src="http://i2frontend.orgfree.com/i2/CDN/jq(Ajax)/tabs.js"></script>

</html>